@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Kranky&display=swap");

/* CSS Variables */
:root {
  --primary-color: #34646c;
  --secondary-color: #925e2a;
  --highlight-color: #82ddf2;
  --highlight-color-light: #f0eee8;
  --font-color: #ffffff;
  --quote-color: #000000;
  --primary-font: "Figtree", sans-serif;
  --secondary-font: "Kranky", cursive;
}

/* Global Stlyes */

html {
  scroll-padding: 6.25rem;
}

body {
  font-family: var(--primary-font);
  padding-top: 6rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  color: var(--font-color);
}

.bg-color-primary {
  background-color: var(--primary-color);
  border-radius: 1.25rem;
}

.bg-color-secondary {
  background-color: var(--secondary-color);
  border-radius: 1.25rem;
}

.bg-card-primary {
  background-color: var(--primary-color);
}

.bg-card-highlight-color-light {
  background-color: var(--highlight-color-light);
}

.card-text-title {
  font-family: var(--secondary-font);
  color: var(--font-color);
}

.card-body {
  background-color: var(--highlight-color-light);
}

.w-text {
  color: var(--font-color);
}

#about {
  min-height: 86vh;
}

.adoption-card {
  width: 20rem;
}


#navbar {
  background-color: var(--primary-color);
  min-height: 6.25rem;
}

#hero img {
  max-width: 100%;
}

#about-us p {
  text-align: center;
}

#success-stories figure figcaption,
cite {
  color: var(--quote-color);
}

.dog-card {
  min-height: 30.3rem;
}

#our-dogs h4{
  border-radius: 0;
}

/* Carousel Styling */

.max-height {
  max-height: 43.75rem;
}

.z-index {
  z-index: 10;
}

.car-width {
  max-width: 90%;
}

/* Footer Styles */

footer {
  background-color: var(--primary-color);
}

footer p {
  color: var(--font-color);
}

footer table {
  background-color: var(--primary-color);
}

.custom-table thead th,
.custom-table tbody td,
.custom-table tbody th {
  background-color: transparent;
}

iframe {
  border: none;
}

#social-links a {
  color: var(--font-color);
  font-size: 2rem;
  margin: 4rem 0rem;
}

#social-links a:hover {
  color: var(--secondary-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* Button Styling */

.custom-button-filled {
  border: 0.125rem solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.custom-button-filled:hover {
  border: 0.125rem solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

/* Media Queries */

/* XXS Devices */

@media screen and (max-width: 380px) {
  #navbar h1 {
    font-size: 1.3rem;
  }
}

/* XS Devices */
@media screen and (max-width: 467px) {
  #navbar h1 {
    font-size: 1.4rem;
  }
}

/* SM Devices */
@media screen and (min-width: 576px) {
  .card {
    min-width: 25rem;
  }
}

/* MD Devices */
@media screen and (min-width: 768px) {
  .card {
    min-width: 18rem;
  }

  #adoption-process .card {
    min-height: 9.4rem;
  }

  .dog-image-height {
    max-height: 13.1rem;
  }
}

/* LG Devices */
@media screen and (min-width: 992px) {
  .card {
    min-width: 25rem;
  }
  .dog-image-height {
    max-height: 18rem;
  }
}

/* XL Devices */
@media screen and (min-width: 1200px) {
  #hero-intro h2 {
    border-radius: 1.25rem;
  }

  #spacer-top {
    margin-top: 1.25rem;
  }
  /*About Us*/
  #about-us p {
    text-align: left;
  }

  #about-us div .mediaq-margin-top {
    margin-top: 2rem;
  }

  .dog-image-height {
    max-height: 21.7rem;
  }
}

/* XXL Devices */
@media screen and (min-width: 1400px) {
  #spacer-top {
    margin-top: 3.125rem;
  }

  .card {
    min-width: 18rem;
  }

  .dog-image-height {
    max-height: 12.4rem;
  }

  #adoption-process .card {
    min-height: 12.1rem;
  }
}
