@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Kranky&display=swap");

/* CSS Variables */
:root {
  --primary-color: #34646c;
  --secondary-color: #c78340;
  --highlight-color: #82ddf2;
  --highlight-color-light: #eee9dd;
  --primary-font: "Figtree", sans-serif;
  --secondary-font: "Kranky", cursive;
}

/* Global Stlyes */

body {
  font-family: var(--primary-font);
  padding-top: 101.19px;
  background-color: white;
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  color: white;
}

.bg-color-primary {
  background-color: var(--primary-color);
  border-radius: 20px;
}

.bg-color-secondary {
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.bg-card-primary {
  background-color: var(--primary-color);
}

.bg-card-highlight-color-light {
  background-color: var(--highlight-color-light);
}

.card-text-title {
  font-family: var(--secondary-font);
  color: white;
}

.card-body {
  background-color: var(--highlight-color-light);
}

.w-text {
  color: #fff
}

/* Navbar Styling */

#navbar {
  background-color: var(--primary-color);
  min-height: 101.19px;
}

/*Hero*/
#hero img {
  max-width: 100%;
}

/*About Us*/

#about-us p {
  text-align: center;
}

/* Footer Styling */

footer {
  background-color: var(--primary-color);
}

footer p {
  color: white;
}

/* Trying to make the background of table footer the primary colour */

/* .table-transparent {
  background-color: transparent;
}

footer tr, footer th {
  background-color: var(--primary-color);
} */

/* Social Links */

#social-links a {
  color: var(--secondary-color);
  margin: 2rem;
}

#social-links a:hover {
  color: var(--highlight-color);
}

/*Our Dogs Styling */
.dog-card {
  min-height: 485px;
}

/* Success Styling */

.max-height {
  max-height: 700px;
}

/* Button Styling */

.custom-button-filled {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}

.custom-button-filled:hover {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

/* Media Queries */

/* SM Devices */
@media screen and (min-width: 576px) {
  .card {
    min-width: 25rem;
  }
}

/* MD Devices */
@media screen and (min-width: 768px) {
  .card {
    min-width: 18rem;
  }

  #adoption-process .card {
    min-height: 151px;
  }

}

/* LG Devices (992px and above) */
@media screen and (min-width: 992px) {
  .card {
    min-width: 25rem;
  }
}

/* XL Devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  header h2 {
    border-radius: 20px;
  }

  #spacer-top {
    margin-top: 20px;
  }
  /*About Us*/
  #about-us p {
    text-align: left;
  }

  .adoption-card {
    min-height: 136px;
  }
}

/* XXL Devices */
@media screen and (min-width: 1400px) {
  #spacer-top {
    margin-top: 50px;
  }

  .card {
    min-width: 18rem;
  }

  #adoption-process .card {
    min-height: 204.59px;
  }
  .adoption-card {
    min-width: 140px;
  }
}
